= form_for @set, url: workout_sets_path(@set) do |f|
  .container
    .weight
      = f.label :weight
      = f.number_field :weight, step: 5, value: @set_for_autofill.weight
      = sup
    .rep_count
      = f.label :rep_count
      = f.number_field :rep_count, value: @set_for_autofill.rep_count
    = f.hidden_field :exercise_id
    = f.hidden_field :workout_id

    = f.submit 'add set', class: 'button'
